<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="AcessoBandoDados.Properties.Settings.stringConexao"
            connectionString="Data Source=187.2.79.249;Initial Catalog=ESCOTECDB;Persist Security Info=True;User ID=leonardo;Password=leo144112"
            providerName="System.Data.SqlClient" />
        <add name="AcessoBandoDados.Properties.Settings.ESCOTECDBConnectionString"
            connectionString="Data Source=WSERVER2016;Initial Catalog=ESCOTECDB;Persist Security Info=True;User ID=leonardo;Password=leo144112"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup></configuration>
